[submodule "data/repos/starter-workflows"]
	path = data/repos/starter-workflows
	url = https://github.com/actions/starter-workflows.git
[submodule "data/repos/checkout"]
	path = data/repos/checkout
	url = https://github.com/actions/checkout.git
[submodule "data/repos/toolkit"]
	path = data/repos/toolkit
	url = https://github.com/actions/toolkit.git
[submodule "data/repos/github-script"]
	path = data/repos/github-script
	url = https://github.com/actions/github-script.git
[submodule "data/repos/cache"]
	path = data/repos/cache
	url = https://github.com/actions/cache.git
